:root {
	--navbar: #50162D;
	--navbarlighter: #994D6B;
	--navbarevenlighter: #50162D;
  --tab: #3C1122;
  --tabdarker: #220813;
	--tabevendarker: #310818;
	--tablighter: #994D6B;
	--tabbottom: #50162D;
	--form: #727373;
	--formdarker: #2b2929;
	--formlighter: #777d7e;
	--black: #130309;
	--link: #771a3f;
	--linklighter: #a2335d;
	--btn: #105155; /* not used */
	--btndarker: #2b2929;
	--btnlighter: #1c7277;
	--panel: #041a1c;
	--panellighter: #276266;
	--paneldarker: #111f20;
	--resultlink: #641d39;
	--resultlinkhover: #994D6B;
	--supported: #0a4625;
	--notsupported: #4b0903;
	--notsupportedlighter: #ac8986;
}

* {
    border-radius: 0 !important;
}
html {
    position: relative;
    min-height: 100%;
    color: #29314d;
}

body a {
    color: #08c;
}

.alert-info {
	background-color: var(--notsupported);
	border-color: var(--notsupported);
	color: var(--notsupportedlighter);
}

.alert-danger {
	background-color: var(--notsupported);
	border-color: var(--notsupported);
	color: var(--notsupportedlighter);
}

hr {
	border-top: 1px solid var(--btnlighter);
}

input[type="checkbox"]:checked + .label_hide_if_checked,
input[type="checkbox"]:checked + .label_hide_if_not_checked + .label_hide_if_checked {
    display: none;
}
input[type="checkbox"]:not(:checked) + .label_hide_if_not_checked,
input[type="checkbox"]:not(:checked) + .label_hide_if_checked + .label_hide_if_not_checked {
    display: none;
}
.onoff-checkbox {
    width: 15%;
}
.onoffswitch {
    position: relative;
    width: 110px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 2px solid #fff !important;
    border-radius: 50px !important;
}
.onoffswitch-inner {
    display: block;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before,
.onoffswitch-inner:after {
    display: block;
    float: left;
    width: 50%;
    height: 30px;
    padding: 0;
    line-height: 40px;
    font-size: 20px;
    box-sizing: border-box;
    content: "";
    background-color: #eee;
}
.onoffswitch-switch {
    display: block;
    width: 37px;
    background-color: var(--btn);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    border: 2px solid #fff !important;
    border-radius: 50px !important;
    transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-right: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 71px;
    background-color: #a1a1a1;
}



.result_header {
    margin-top: 0;
    margin-bottom: 2px;
    font-size: 16px;
}
.result_header .favicon {
    margin-bottom: -3px;
}
.result_header a {
    color: var(--link);
    text-decoration: none;
}
.result_header a:hover {
    color: var(--linklighter);
}
.result_header a:visited {
    color: #684898;
}
.result_header a .highlight {
    background-color: #f6f9fa;
}
.result-content,
.result-format,
.result-source {
    margin-top: 2px;
    margin-bottom: 0;
    word-wrap: break-word;
    color: #666;
    font-size: 13px;
}
.result-content .highlight,
.result-format .highlight,
.result-source .highlight {
    font-weight: 700;
}
.result-source {
    font-size: 10px;
    float: left;
}
.result-format {
    font-size: 10px;
    float: right;
}
.external-link {
    color: #135c5e;
    font-size: 12px;
    margin-bottom: 15px;
}
.external-link a {
    margin-right: 3px;
}
.result-default,
.result-code,
.result-torrent,
.result-videos,
.result-map {
    clear: both;
    padding: 2px 4px;
}
.result-default:hover,
.result-code:hover,
.result-torrent:hover,
.result-videos:hover,
.result-map:hover {
    background-color: var(--tabdarker);
}
.result-images {
    float: left !important;
    width: 24%;
    margin: 0.5%;
}
.result-images a {
    display: block;
    width: 100%;
    background-size: cover;
}
.img-thumbnail {
    margin: 5px;
    max-height: 128px;
    min-height: 128px;
}
.result-videos {
    clear: both;
}
.result-videos hr {
    margin: 5px 0 15px 0;
}
.result-videos .collapse {
    width: 100%;
}
.result-videos .in {
    margin-bottom: 8px;
}
.result-torrent {
    clear: both;
}
.result-torrent b {
    margin-right: 5px;
    margin-left: 5px;
}
.result-torrent .seeders {
    color: #2ecc71;
}
.result-torrent .leechers {
    color: #f35e77;
}
.result-map {
    clear: both;
}
.result-code {
    clear: both;
}
.result-code .code-fork,
.result-code .code-fork a {
    color: #666;
}
.suggestion_item {
    margin: 2px 5px;
    max-width: 100%;
}
.suggestion_item .btn {
    max-width: 100%;
    white-space: normal;
    word-wrap: break-word;
    text-align: left;
}
.result_download {
    margin-right: 5px;
}
#pagination {
    margin-top: 30px;
    padding-bottom: 60px;
}
.label-default {
    color: #a4a4a4;
    background: 0 0;
}

.label {
    color: #bfb9b9;
}

.result .text-muted small {
    word-wrap: break-word;
}
.modal-wrapper {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}
.modal-wrapper {
    background-clip: padding-box;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    outline: 0 none;
    position: relative;
}
.infobox .panel-heading {
    background-color: #f6f9fa;
}
.infobox .panel-heading .panel-title {
    font-weight: 700;
}
.infobox p {
    font-family: "DejaVu Serif", Georgia, Cambria, "Times New Roman", Times, serif !important;
    font-style: italic;
}
.infobox .btn {
    background-color: #2ecc71;
    border: none;
}
.infobox .btn a {
    color: #fff;
    margin: 5px;
}
.infobox .infobox_part {
    margin-bottom: 20px;
    word-wrap: break-word;
    table-layout: fixed;
}
.infobox .infobox_part:last-child {
    margin-bottom: 0;
}
.search_categories,
#categories {
    text-transform: capitalize;
    margin-bottom: 0.5rem;
    display: flex;
    flex-wrap: wrap;
    flex-flow: row wrap;
    align-content: stretch;
}
.search_categories label,
#categories label,
.search_categories .input-group-addon,
#categories .input-group-addon {
    flex-grow: 1;
    flex-basis: auto;
    font-size: 1.2rem;
    font-weight: 400;
    background-color: #fff;
    border: #ddd 1px solid;
    border-right: none;
    color: #666;
    padding-bottom: 0.4rem;
    padding-top: 0.4rem;
    text-align: center;
    min-width: 50px;
}
.search_categories label:last-child,
#categories label:last-child,
.search_categories .input-group-addon:last-child,
#categories .input-group-addon:last-child {
    border-right: #ddd 1px solid;
}
.search_categories input[type="checkbox"]:checked + label,
#categories input[type="checkbox"]:checked + label {
    color: #29314d;
    font-weight: 700;
    border-bottom: #01d7d4 5px solid;
}
#main-logo {
    margin-top: 10vh;
    margin-bottom: 25px;
}
#main-logo > img {
    max-width: 350px;
    width: 80%;
}
#q {
    box-shadow: none;
    border-right: none;
    border-color: var(--black);
}
#search_form .input-group-btn .btn {
    border-color: var(--black);
}
#search_form .input-group-btn .btn:hover {
    background-color: var(--btnlighter);
    color: #fff;
}
.custom-select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    font-size: 1.2rem;
    font-weight: 400;
    background-color: #fff;
    border: #ddd 1px solid;
    color: #666;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAQAAACR313BAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAJcEhZcwAABFkAAARZAVnbJUkAAAAHdElNRQfgBxgLDwB20OFsAAAAbElEQVQY073OsQ3CMAAEwJMYwJGnsAehpoXJItltBkmcdZBYgIIiQoLglnz3ui+eP+bk5uneteTMZJa6OJuIqvYzSJoqwqBq8gdmTTW86/dghxAUq4xsVYT9laBYXCw93Aajh7GPEF23t4fkBYevGFTANkPRAAAAJXRFWHRkYXRlOmNyZWF0ZQAyMDE2LTA3LTI0VDExOjU1OjU4KzAyOjAwRFqFOQAAACV0RVh0ZGF0ZTptb2RpZnkAMjAxNi0wNy0yNFQxMToxNTowMCswMjowMP7RDgQAAAAZdEVYdFNvZnR3YXJlAHd3dy5pbmtzY2FwZS5vcmeb7jwaAAAAAElFTkSuQmCC)
        96% no-repeat;
}
.search-margin {
    margin-bottom: 0.6em;
}
#advanced-search-container {
    display: none;
    text-align: left;
    margin-bottom: 1rem;
    clear: both;
}
#advanced-search-container label,
#advanced-search-container .input-group-addon {
    font-size: 1.2rem;
    font-weight: 400;
    background-color: #fff;
    border: #ddd 1px solid;
    border-right: none;
    color: #666;
    padding-bottom: 0.4rem;
    padding-right: 0.7rem;
    padding-left: 0.7rem;
}
#advanced-search-container label:last-child,
#advanced-search-container .input-group-addon:last-child {
    border-right: #ddd 1px solid;
}
#advanced-search-container input[type="radio"] {
    display: none;
}
#advanced-search-container input[type="radio"]:checked + label {
    color: #29314d;
    font-weight: 700;
    border-bottom: #01d7d4 5px solid;
}
#check-advanced {
    display: none;
}
#check-advanced:checked ~ #advanced-search-container {
    display: block;
}
.advanced {
    padding: 0;
    margin-top: 0.3rem;
    text-align: right;
}
.advanced label,
.advanced select {
    cursor: pointer;
}
.cursor-text {
    cursor: text !important;
}
.cursor-pointer {
    cursor: pointer !important;
}
pre,
code {
    font-family: "Ubuntu Mono", "Courier New", "Lucida Console", monospace !important;
}
.lineno {
    margin-right: 5px;
}
.highlight .hll {
    background-color: #ffc;
}

.highlight .c {
    color: #556366;
    font-style: italic;
}
.highlight .err {
    border: 1px solid #ffa92f;
}
.highlight .k {
    color: #be74d5;
    font-weight: 700;
}
.highlight .o {
    color: #d19a66;
}
.highlight .cm {
    color: #556366;
    font-style: italic;
}
.highlight .cp {
    color: #bc7a00;
}
.highlight .c1 {
    color: #556366;
    font-style: italic;
}
.highlight .cs {
    color: #556366;
    font-style: italic;
}
.highlight .gd {
    color: #a00000;
}
.highlight .ge {
    font-style: italic;
}
.highlight .gr {
    color: red;
}
.highlight .gh {
    color: navy;
    font-weight: 700;
}
.highlight .gi {
    color: #00a000;
}
.highlight .go {
    color: #888;
}
.highlight .gp {
    color: navy;
    font-weight: 700;
}
.highlight .gs {
    font-weight: 700;
}
.highlight .gu {
    color: purple;
    font-weight: 700;
}
.highlight .gt {
    color: #04d;
}
.highlight .kc {
    color: #be74d5;
    font-weight: 700;
}
.highlight .kd {
    color: #be74d5;
    font-weight: 700;
}
.highlight .kn {
    color: #be74d5;
    font-weight: 700;
}
.highlight .kp {
    color: #be74d5;
}
.highlight .kr {
    color: #be74d5;
    font-weight: 700;
}
.highlight .kt {
    color: #d46c72;
}
.highlight .m {
    color: #d19a66;
}
.highlight .s {
    color: #86c372;
}
.highlight .na {
    color: #7d9029;
}
.highlight .nb {
    color: #be74d5;
}
.highlight .nc {
    color: #61afef;
    font-weight: 700;
}
.highlight .no {
    color: #d19a66;
}
.highlight .nd {
    color: #a2f;
}
.highlight .ni {
    color: #999;
    font-weight: 700;
}
.highlight .ne {
    color: #d2413a;
    font-weight: 700;
}
.highlight .nf {
    color: #61afef;
}
.highlight .nl {
    color: #a0a000;
}
.highlight .nn {
    color: #61afef;
    font-weight: 700;
}
.highlight .nt {
    color: #be74d5;
    font-weight: 700;
}
.highlight .nv {
    color: #dfc06f;
}
.highlight .ow {
    color: #a2f;
    font-weight: 700;
}
.highlight .w {
    color: #d7dae0;
}
.highlight .mf {
    color: #d19a66;
}
.highlight .mh {
    color: #d19a66;
}
.highlight .mi {
    color: #d19a66;
}
.highlight .mo {
    color: #d19a66;
}
.highlight .sb {
    color: #86c372;
}
.highlight .sc {
    color: #86c372;
}
.highlight .sd {
    color: #86c372;
    font-style: italic;
}
.highlight .s2 {
    color: #86c372;
}
.highlight .se {
    color: #b62;
    font-weight: 700;
}
.highlight .sh {
    color: #86c372;
}
.highlight .si {
    color: #b68;
    font-weight: 700;
}
.highlight .sx {
    color: #be74d5;
}
.highlight .sr {
    color: #b68;
}
.highlight .s1 {
    color: #86c372;
}
.highlight .ss {
    color: #dfc06f;
}
.highlight .bp {
    color: #be74d5;
}
.highlight .vc {
    color: #dfc06f;
}
.highlight .vg {
    color: #dfc06f;
}
.highlight .vi {
    color: #dfc06f;
}
.highlight .il {
    color: #d19a66;
}
.highlight .lineno {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
    color: #556366;
}
.highlight .lineno::selection {
    background: 0 0;
}
.highlight .lineno::-moz-selection {
    background: 0 0;
}
.highlight pre {
    background-color: #282c34;
    color: #d7dae0;
    border: none;
    margin-bottom: 25px;
    font-size: 15px;
    padding: 20px 10px;
}

.table > tbody > tr > td,
.table > tbody > tr > th {
    vertical-align: middle !important;
}
body {
    background: var(--black) none !important;
    color: var(--form) !important;
}

a {
    color: var(--link) !important;
    text-decoration: none !important;
}
a:hover {
    color: var(--linklighter) !important;
}

.infobox_part > bdi > p > a {
   color: var(--panellighter) !important;
}

.infobox_part > bdi > p > a:hover {
   color: var(--paneldarker) !important;
}

.form-control {
   	background-color: var(--formdarker);
		border: 1px solid var(--black);
		color: var(--formlighter);
}

.form-control[disabled], .form-control[readonly] {
	cursor: not-allowed;
	background-color: var(--formdarker);
	opacity: 1;
}

input:focus,
button:focus,
textarea:focus,
select:focus {
    border: 1px solid var(--btnlighter) !important;
    box-shadow: initial !important;
}
div#advanced-search-container div#categories label {
    background: 0 0;
    border: 1px solid #282a2e;
}
ul.nav li a {
    border: 0 !important;
    border-bottom: 1px solid var(--tabbottom) !important;
}
#categories *,
.modal-wrapper * {
    background: var(--tab) none !important;
    color: var(--tablighter) !important;
}
#categories * {
    border: 1px solid var(--tabevendarker) !important;
}
#categories :checked + label {
    border-bottom: 4px solid var(--tabbottom) !important;
    background-color: var(--tabdarker) !important;
}
.result-content,
.result-source,
.result-format {
    color: #a29ea2 !important;
}

.table-striped tr td,
.table-striped tr th {
    border-color: #13474A !important;
}
.highlight {
		font-weight: 700;
		background: #f8f8f8;
		background-color: transparent !important;
}
.navbar {
    background: #1d1f21 none;
    border: none;
}
.navbar .active,
.menu {
    background: none !important;
}
.label-default {
	background: 0 0;
	color: #777277;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus,
.nav-tabs.nav-justified > .active > a {
    background-color: #330a1a !important;
}


.btn, .btn[disabled] {
	color: var(--btn);
	background-color: var(--btndarker);
	border: 1px solid var(--black);
}

.btn:hover {
	color: var(--btnlighter) !important;
	background-color: var(--btn) !important;
	border-color: var(--black);
}

.btn-primary.active {
    color: #c5c8c6;
    background-color: #5f89ac;
    border-color: #5f89ac;
}
.panel {
    border: 1px solid #111;
    background: 0 0;
}
.panel-heading {
    color: var(--panellighter) !important;
    background: var(--paneldarker) !important;
    border-bottom: none;
}
.panel-body {
    color: var(--panellighter) !important;
    background: #011213 !important;
    border-color: #111 !important;
}
p.btn.btn-default {
    background: 0 0;
}
.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th,
.table-striped > thead > tr:nth-child(odd) > th {
    background: var(--panel) none !important;
    /*color: var(--panellighter) !important;*/
}

.label-success {
    background: var(--supported) none !important;
}
.label-danger {
    background: var(--notsupported) none !important;
}
.searx-navbar {
    background: var(--navbar);
    height: 2.3rem;
    font-size: 1.3rem;
    line-height: 1.3rem;
    padding: 0.5rem;
    font-weight: 700;
    margin-bottom: 0.8rem;
}
.searx-navbar a {
    margin-right: 2rem;
    color: var(--navbarlighter) !important;
    text-decoration: none;
}

.searx-navbar a:hover {
    margin-right: 2rem;
    color: var(--navbarevenlighter) !important;
    text-decoration: none;
}
.searx-navbar .instance a {
    color: #01d7d4;
    margin-left: 2rem;
}
#main-logo {
    margin-top: 20vh;
    margin-bottom: 25px;
}
#main-logo > img {
    max-width: 350px;
    width: 80%;
}
.onoffswitch-inner:before,
.onoffswitch-inner:after {
    background: #1d1f21 none !important;
}
.onoffswitch-switch,
.onoffswitch-label {
    border: 2px solid var(--btndarker) !important;
}
.nav > li > a:hover,
.nav > li > a:focus {
    background-color: var(--tabbottom) !important;
}
.img-thumbnail,
.thumbnail {
    padding: 0;
    line-height: 1.42857143;
    background: 0 0;
    border: none;
}
.modal-content {
    background: #1d1f21 none !important;
}
.table > thead > tr > td.danger,
.table > tbody > tr > td.danger,
.table > tfoot > tr > td.danger,
.table > thead > tr > th.danger,
.table > tbody > tr > th.danger,
.table > tfoot > tr > th.danger,
.table > thead > tr.danger > td,
.table > tbody > tr.danger > td,
.table > tfoot > tr.danger > td,
.table > thead > tr.danger > th,
.table > tbody > tr.danger > th,
.table > tfoot > tr.danger > th {
    background: var(--notsupported) !important;
    color: #c5c8c6 !important;
}
.table-hover > tbody > tr > td.danger:hover,
.table-hover > tbody > tr > th.danger:hover,
.table-hover > tbody > tr.danger:hover > td,
.table-hover > tbody > tr:hover > .danger,
.table-hover > tbody > tr.danger:hover > th {
    background: var(--black) !important;
    color: #c5c8c6 !important;
}
.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th {
    background: var(--formdarker) !important;
}
.btn-success {
    color: #c5c8c6;
    background: #449d44;
}
.btn-danger {
    color: #c5c8c6;
    background: #d9534f;
}
.well {
    background: var(--tabdarker);
    border-color: #2f0c1a;
}

.result_header > a {
	color: var(--resultlink) !important;
}

.result_header > a:hover {
	color: var(--resultlinkhover) !important;
}
